body {
  background-color: rgb(211, 211, 211);
}
.returnDiv {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.returnDiv button {
  max-width: 800px;
  height: 30px;
}

.category,
.language,
.flags,
.type {
  display: flex;
  gap: 20px;
  font-family: Roboto;
  font-size: 20px;
  user-select: none;
}
.error {
  color: red;
  font-weight: 700;
  font-size: 16px;
}
